<div class="col s12 center-align container-footer">


    <div class="container-social container center-align">
        <a href="https://bitbucket.org/senducusin/"><i class="fab fa-bitbucket"></i></a>

        <a href="https://github.com/senducusin"><i class="fab fa-github"></i></a>

        <a href="https://www.facebook.com/senducusin/"><i class="fab fa-facebook-f"></i></a>

        <a href="https://www.linkedin.com/in/senducusin/"><i class="fab fa-linkedin-in"></i></a>

    </div>

    <a href="/" class="footer-link">
        Home
    </a>

    <span class="spacer">|</span>

    <a href="/contact" class="footer-link">
        Contact
    </a>
</div>