<div class="col s12 center-align container-icon">
    <img class="logo-jd" src="/public/assets/Logo.png" alt="logo">
</div>

<div class="col s12 container-nav center-align">

    <a class=<%=nav.projects%> href="/">PROJECTS</a>
    <span class="nav-horizontal-spacer"></span>
    <a class=<%=nav.contact%> href="/contact">CONTACT</a>
</div>