main {
    padding: 50px 10px
}

.logo-jd{
    height: 100px;
    width: auto;
}

.link-current,
.footer-link {
    color: black;
}

.nav-horizontal-spacer{
    width: 20px;
    background-color: gray;
    display: inline-block;
}

.container-nav{
    margin: 30px 0px
}

.container-project{
    margin: 10px 0px
}

.container-project-spacer{
    width: 10px;
}

.container-footer {
    margin-top: 200px;
}

.container-personal-projects{
    margin-bottom: 50px
}

.hidden {
    display: none;
}

.normal-link,
.link-current {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}